services:
  - type: web
    name: gym-backend
    env: node
    rootDir: backend
    buildCommand: npm install
    startCommand: npm start
    plan: free
    autoDeploy: true

  - type: static
    name: gym-frontend
    rootDir: frontend
    buildCommand: npm install && npm run build
    publishPath: dist
    autoDeploy: true
